<div class="container">
  <div class="row">
    <div class="col">
      <span><strong>Hello {{loginUserName}}</strong></span>
    </div>
  </div>
</div>
<div class="container mt-4 bg-dark bg-gradient text-light p-4">
  <div class="row">
    <div class="col">
      <h1>Instructions for Online Examination</h1>
      <ol class="m-4">
        <li class="m-3">
          <strong>Check System Requirements:</strong> Ensure your device meets
          the exam platform requirements (browser, internet speed, and any
          required software or apps).
        </li>
        <li class="m-3">
          <strong>Test Your Setup:</strong> Perform a system test if the
          platform provides one. Confirm your webcam, microphone, and internet
          connection are working.
        </li>
        <li class="m-3">
          <strong>Test Your Setup:</strong> Perform a system test if the
          platform provides one. Confirm your webcam, microphone, and internet
          connection are working.
          <strong>Environment Preparation:</strong>
          <ul>
            <li>Choose a quiet, well-lit, and distraction-free location.</li>
            <li>
              Ensure your desk is clear of unauthorized materials unless
              open-book resources are permitted.
            </li>
          </ul>
        </li>
        <li class="m-3">
          <strong>Time Zone Awareness:</strong> Confirm the exam's start time
          and duration in your local time zone.
        </li>
      </ol>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="float-end">
        <button class="btn btn-warning" (click)="onProceed()">Click Here To Start Exam</button>
      </div>
  
    </div>
  </div>

</div>

