/*
.parent {
  background: url("https://images.unsplash.com/photo-1486312338219-ce68d2c6f44d?q=80&w=1772&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
  min-height: 700px;
}
.form-2-wrapper {
  background: #AC76FE;
  padding: 50px;
  border-radius: 8px;
  opacity: 0.8;
  width: 500px;
}
input.form-control {
  padding: 11px;
  border: none;
  border: 2px solid #405c7cb8;
  border-radius: 10px;
  background-color: transparent;
  font-family: Arial, Helvetica, sans-serif;
}
input.form-control:focus {
  box-shadow: none !important;
  outline: 0px !important;
  background-color: transparent;
}
button.login-btn {
  background: #b400ff;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 30px;
}
.register-test a {
  color: #000;
}
.social-login button {
  border-radius: 30px;
}
*/
.parent {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background: url('https://images.unsplash.com/photo-1486312338219-ce68d2c6f44d?q=80&w=1772&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D') no-repeat center center; */
  background: url('../../../public/login_bg.jpg') no-repeat center center;
  background-size: cover;
}
.form-2-wrapper {
  width: 100%;
  max-width: 400px;
}
.form-box input {
  height: 45px;
  font-size: 16px;
}
.btn-block {
  height: 45px;
  font-size: 16px;
}
.right-side {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}